* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
header ul li {
    float: right;
}
footer ul li {
    float: left;
}
li a{
    display: block;
    width: 100px;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}
li a:hover {
    color: red;
    text-decoration: underline;
  }
img {
    width: 400px;
    margin: 0 auto;
}
